<h1>Kosh Form</h1>
<p>
  This is the contact page for the
  <a href="http://thefonso.com/">thefonso.com</a>
  sample application.
</p>
<p>
    <!-- This is where Kosh has created the form -->
    <form id="koshform">
        First name: <input type="text" name="firstname"/><BR>
        Email:      <input type="text" name="email"/><BR>
        Comment:    <textarea rows="20" cols="80" name="comment"></textarea><BR>
    </form>
    
</p>