<h1>Sample App</h1>

<ul>
	<li><%= link_to 'home', home_path %></li>
	<li><%= link_to 'about', about_path %></li>
	<li><%= link_to'contact', contact_path %></li>
</ul>

<p>
  This is the home page for the
  <a href="http://thefonso.com/">thefonso.com</a>
  sample application.

 <!--  TODO - create nav bar with links to other pages, make this a partial -->



</p>